*  {
    margin: 0;
    padding: 0; /*Padding é a distancia entre o elemento e nossa borda*/
}

.fundo {
    background-image: linear-gradient(45deg, rgb(47, 137, 255), #8f5245); /*Background liner 45 grau rosa para o laranja*/
    height: 100vh;
}

#calculadora{
    position: absolute;/*Assim ela vai ocupar apenas o espaço dela mesmo*/
    background-image: linear-gradient(45deg, #5076C0, rgba(47, 137, 255, 0));
    top: 50%; /*Distanciando 50% do topo*/
    left: 50%; /*Distanciando 50% do lado esquerdo*/
    transform: translate(-50%, -50%);/*Assim ele vai voltar 50% no eixo X e 50% no eixo y*/
    border-radius: 40px;
    padding: 15px;
}

#resultado{
    background-color: rgb(47, 137, 255);
    height: 55px;
    width: 100%;
    color: white;
    text-align: right;
}

button {
    margin: 0;
    background-color: rgb(47, 137, 255);
    width: 70px;
    height: 70px;
    cursor: pointer;
    border:none;
    font-size: 25px;
}

button:hover{
    background-color: rgb(28, 74, 134);
    color: white;
}

#zero {
    width: 100%;
}

#igual {
    height: 140px;
}